@import url(cardsProdutos.css);

.main__nossos-pudins {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 9.5em;
    margin: 0 6%;
    gap: 2em;
}

.menu-categorias{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 5%;
    right: 5%;
    padding: 2em 1em 1em;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--cor-fundo);
    border-bottom: solid var(--cor-azul) 3px;
}

.lista__menu-hamburguer__categorias{
    display: flex;
    gap: 3em;
}

.links__menu-categorias{
    text-decoration: none;
    color: var(--cor-azul);
    font-size: 2rem;
    font-family: var(--fonte-secundária);
    border-left: 2px solid var(--cor-azul);
    padding-left: 0.3em;
}

.links__menu-categorias:hover{
    color: var(--cor-dourado);
    border-color: var(--cor-dourado);
}

#campo-pesquisa-produtos{
    border-radius: 10px;
    border: 5px double var(--cor-azul);
    padding: 0.5em 5%;
    padding-left: 55px;
    background-color: #dac88d;
    background-image: url(/img/lupa.png);
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 5px;
    caret-color: white;
    color: white;
}

#campo-pesquisa-produtos::placeholder{
    color: white;
    opacity: 1;
    position: absolute;
    left: 55px;
}

#campo-pesquisa-produtos::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.resultado-pesquisa-nao-encontrado{
    margin: 8em 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    display: none;
}

.txt__Resultado-pesquisa-nao-encontrado{
    text-transform: uppercase;
    font-size: 2rem;
}

.resultado-pesquisa-encontrado{
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    display: none;
}

.txt__Resultado-pesquisa-encontrado{
    font-size: 2rem;
}

.active{
    display: flex;
}

.esconder{
    display: none;
}

.classicos{
    padding-top: 8em;
}

.titulo-sessao {
    font-family: var(--fonte-secundária);
    font-size: 2rem;
    font-weight: 500;
}

.separacao_card-tipos-produto {
    margin: .3em 0 1em 0;
}

.separacao_sessoes {
    margin: 1em 0;
}

.checkbox__menu-hamburguer__categorias{
    display: none;
}

.icone__menu-hamburguer__categorias{
    display: none;
}

@media screen and (max-width: 1024px) {
    .main__nossos-pudins {
        padding-top: 8em;
    }
    
    .classicos{
        padding-top: 12em;
    }

    .menu-categorias{
        flex-direction: column-reverse;
        gap: 2em;
    }

    #campo-pesquisa-produtos{
        padding: 0.5em 10em;
        background-size: 4%;
        background-position-y: 11px;
        font-size: 1.2rem;
        padding-left: 60px;
    }

    #campo-pesquisa-produtos::placeholder{
        left: 60px;
    }

    .lista__menu-hamburguer__categorias{
        gap: 1.5em;
    }

    .resultado-pesquisa-nao-encontrado{
        margin-top: 15em;
    }

    .resultado-pesquisa-encontrado{
        margin-top: 12em;
    }
}

@media screen and (max-width: 450px){
    .main__nossos-pudins {
        padding-top: 3em;
    }

    .classicos{
        padding-top: 8em;
    }

    .menu-categorias{
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

    .lista__menu-hamburguer__categorias{
        background-color: var(--cor-fundo);
        padding: 1em;
        flex-direction: column;
        align-items: initial;
        gap: 2em;
        position: absolute;
        left: 0;
        top: 105%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .links__menu-categorias{
        border-bottom: solid 2px var(--cor-azul);
    }

    .icone__menu-hamburguer__categorias{
        display: flex;
    }

    .checkbox__menu-hamburguer__categorias{
        position: absolute;
        opacity: 0;
        width: 0;
    }

    .checkbox__menu-hamburguer__categorias:checked ~ .lista__menu-hamburguer__categorias {
        opacity: 1;
        visibility: visible;
    }

    #campo-pesquisa-produtos{
        padding: 0.5em 1%;
        background-size: 8%;
        background-position-x: 10px;
        background-position-y: 10px;
        padding-left: 40px;
    }

    #campo-pesquisa-produtos::placeholder{
        left: 40px;
    }

    .resultado-pesquisa-encontrado{
        margin-top: 8em;
    }

    .txt__Resultado-pesquisa-nao-encontrado{
        text-align: center;
    }
}

