@import url(carrosel.css);
@import url(sectionApresentacao.css);
@import url(sectionCriarReceita.css);
@import url(sectionMeiosContato.css);

main {
    padding-top: 18em;
    margin: 0 6%;
    flex-grow: 1;
}

.elementos-coluna-informacoes{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titulo-principal{
    font-size: 3.5rem;
    font-weight: 600;
}

.subtitulo{
    font-size: 2rem;
    font-weight: 600;
}

.txt-apresentação{
    font-size: 1.2em;
    font-weight: 200;
}

.criar-receita__link:hover, .link__botoes-redes-sociais:hover{
    font-size: 140%;
    border-color: var(--cor-cinza-escuro);
}

@media screen and (max-width: 1024px) {
    main {
        padding-top: 14em;
    }

    .elementos-coluna-informacoes{
     width: 100%;
    }
}

@media screen and (max-width: 450px){
    main {
        padding-top: 6em;
    }

    .titulo-principal{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .subtitulo{
        font-size: 2rem;
        font-weight: 600;
    }

    .txt-apresentação{
        font-size: 1.2em;
        font-weight: 200;
    }
}