.apresentação {
    box-sizing: border-box;
    padding: 0 0 10% 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.endereco{
    color: var(--cor-azul);
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 90%;
}

.endereco:hover{
    border-radius: 8px;
    background-color: var(--cor-cinza-escuro);
}

@media screen and (max-width: 1024px){
     .apresentação{
        flex-direction: column;
        align-items: start;
    }
}
