/* Gerais */
main {
    padding-top: 18em;
    margin: 0 6%;
    
}

.elementos-coluna-informacoes{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titulo-principal{
    font-size: 3.5rem;
    font-weight: 600;
}

.subtitulo{
    font-size: 2rem;
    font-weight: 600;
}

.txt-apresentação{
    font-size: 1.2em;
    font-weight: 200;
}

.criar-receita__link:hover, .link__botoes-redes-sociais:hover{
    font-size: 140%;
    border-color: var(--cor-cinza-escuro);
}

/* section 1 */

.apresentação {
    box-sizing: border-box;
    padding: 0 0 10% 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.endereco{
    color: var(--cor-azul);
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 90%;
}

.endereco:hover{
    border-radius: 8px;
    background-color: var(--cor-cinza-escuro);
}

/* section 2 */

.criar-receita{
    padding: 10% 0 ;
    display: flex;
    align-items: center;
    gap: 3em;
}

.criar-receita__link{
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--cor-dourado);
    border: 5px double var(--cor-dourado);
    border-radius: 8px;
    width: 30%;
    padding: 1em 1em;
    background-color: var(--cor-azul);
    text-align: center;
}

/* section 3 */

.meios-contato{
    padding: 10% 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.botoes-redes-sociais{
    display: flex;
    gap: 1em;
}

.link__botoes-redes-sociais{
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--cor-dourado);
    border: 5px double var(--cor-dourado);
    border-radius: 8px;
    padding: 1em 1em;
    background-color: var(--cor-azul);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.mapa-localizacao{
    border: 15px groove var(--cor-dourado);
    border-radius: 10px;
    height: 25em;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    main {
        padding-top: 14em;
    }

    .elementos-coluna-informacoes{
     width: 100%;
    }

/* section 1 */
    .apresentação{
        flex-direction: column;
        align-items: start;
    }

/* section 2 */
    .criar-receita{
        flex-direction: column-reverse;
        align-items: start;
    }

    

/* section 3 */
    .meios-contato{
       flex-direction: column;
    }

    .mapa-localizacao{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    main {
        padding-top: 6em;
    }

    .titulo-principal{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .subtitulo{
        font-size: 2rem;
        font-weight: 600;
    }

    .txt-apresentação{
        font-size: 1.2em;
        font-weight: 200;
    }

/* section 2 */
    .criar-receita__link{
        margin: auto;
        width: auto;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }

/* section 3 */
    .botoes-redes-sociais{
        margin: 0 auto;
        gap: 3em;
    }

    .link__botoes-redes-sociais{
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }

    .txt__link__botoes-redes-sociais{
        display: none;
    }

    .mapa-localizacao{
        height: 15em;
        width: 90%;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }
}