.main__nossos-pudins {
    padding-top: 12em;
    margin: 0 6%;
}

.titulo-sessao {
    font-family: var(--fonte-secundária);
    font-size: 2rem;
    font-weight: 500;
}

.separacao_card-tipos-produto {
    margin: .3em 0 1em 0;
    
}

.coluna_card-tipos-produto {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.linha_card-tipos-produto {
    margin: 0 2em;
    display: flex;
    gap: 3em;
}

.card-tipos-produto {
    background-color: var(--cor-fundo);
    color: var(--cor-azul);
    border: none;
    display: flex;
    gap: 2em;
    
}

.card-tipos-produto:hover {
    height: 200px;
    border-radius: 8px ;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.img_card-tipos-produto {
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
}

.descricao_card-tipos-produto {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    text-align: start;
}

.titulo_descricao_card-tipos-produto {
    font-size: 2rem;
    font-family: var(--fonte-secundária);
}

.txt_descricao_card-tipos-produto {
    line-height: 1.3em;
}

.preco_descricao_card-tipos-produto {
    font-size: 1.4rem;
    font-family: var(--fonte-secundária);
}

.separacao_sessoes {
    margin: 1em 0;
}