.separacao-rodape{
    margin: 2em 0 0 0 ;
    padding: 0;
}

.rodape{
    padding: 5em;
    background-image: url(/img/planodefundo.png);
}

@media screen and (max-width: 450px) {
    .rodape{
        padding: 2.5em;
    }
}