@import url(/styles/header.css);
@import url(/styles/rodape.css);
@import url(/styles/styleHomePage/conteúdo.css);
@import url(/styles/styleHomePage/carroselstylein.css);
@import url(/styles/styleNossosPudins/nossosPudins.css);


:root {
    --cor-azul: #001930;
    --cor-azul-claro: #052e53;
    --cor-fundo: #f0e4ce;
    --cor-dourado: #D4AF37;
    --cor-cinza-escuro: darkgrey;
    --cor-branco: rgb(243, 235, 235);
    --fonte-principal: "Outfit", sans-serif;
    --fonte-secundária: "PT Serif", serif;
}

html {
    scroll-padding-top: 16em;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-azul);
    font-family: var(--fonte-principal);
    overflow-x: hidden;
}
